<!DOCTYPE HTML>
<html>
	<head>
		<title>Sean Duffy / About</title>
		<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='{{ STATIC_URL }}pictonic/css/pictonic.css'>
		<link href='{{ STATIC_URL }}style.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id='main_wrap'>
			{% include 'main/header.html' %}
			<div id='post'>
				<div id='portrait'>
                    <a href="https://www.flickr.com/photos/30242870@N06/13799890235" title="Me! by Sean Duffy, on Flickr">
                        <img src="https://farm8.staticflickr.com/7385/13799890235_f0f30234dc_n.jpg" width="240" height="320" alt="Me!">
                    </a>
				</div>
				<h2 id='noLink'>About</h2>
				<p>
                    I'm <strong>Sean</strong>. I'm currently 20 years old and in my first year of studying Computer Systems
                    and Software Engineering at the University of York.
				</p>
				<p>
                    I'm interested in programming and web development - at the moment I'm working mostly in Python and JavaScript.
                    You can see examples of some things I've made on the <a href='/projects/'>projects</a> page and on my
                    <a href='http://www.github.com/sean-duffy' target='_blank'>GitHub profile</a>.
				</p>
				<p>
                    I have  amassed a small collection of vintage computers,
                    which you can see and read about in <a href='http://www.seanduffy.co.uk/blog/2013/7/Vintage-Computer-Collection/'>this</a>
                    post. I've also recently developed an affection for all things that fly under remote control, mostly quadcopters,
                    and I like building and flying them in my spare time.
				</p>
				<p>
                    Besides that I also enjoy electronics, physics and playing the guitar or occasionally piano. 
                    I like to read classic science fiction and fantasy as well as biographies and historical books.
				</p>
				<p>
					If you want to contact me, please feel free to <a href='mailto:seanduffy@live.com'>email me</a>.
				</p>
				<p>
					If you'd like to hire me, <a href='/cv'>here is my CV</a>.
				</p>
			</div>
			{% include 'main/footer.html' %}
		</div>
	</body>
</html>
