<!DOCTYPE HTML>
<html>
	<head>
		<title>Sean Duffy / Blog</title>
		<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='{{ STATIC_URL }}pictonic/css/pictonic.css'>
		<link href='{{ STATIC_URL }}style.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id='main_wrap'>
			{% include 'main/header.html' %}

			{% for this_post_data in post_data %}
			<div id ='post'>
				<a href='/blog/{{ this_post_data.0 }}'><h1>{{ this_post_data.1 }}</h1></a>
				<span id='date'>Posted on the {{ this_post_data.2 }}.</span>
				{{ this_post_data.3|safe }}
			</div>
			{% endfor %}

			<div id='page_links'>
				<div id='older_page_link'>
					{% if next_page != 0 %}
					<a href='/blog/page/{{ next_page }}'><< Older posts</a>
					{% endif %}
				</div>
				<p>Page {{ current_page }} of {{ num_pages }}</p>
				<div id='newer_page_link'>
					{% if previous_page != 0 %}
					<a href='/blog/page/{{ previous_page }}'>Newer posts >></a>
					{% endif %}
				</div>
			</div>

			{% include 'main/footer.html' %}
		</div>
	</body>
</html>