<!DOCTYPE HTML>
<html>
	<head>
		<title>Curriculum Vitae - Sean Duffy</title>
		<link rel='stylesheet' href='{{ STATIC_URL }}cv.css' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic,bold' rel='stylesheet' type='text/css'>
	</head>
	<body>
        <header>
            <h1>Sean Duffy</h1>
        </header>

		<section>

			<h2>Personal Profile</h2>
			<p>
                I am a 20 year old student studying Computer Systems and Software Engineering (MEng) at the University of York. 
                I have a keen interest in technology and enjoy learning about both software and hardware. I am motivated, 
                determined and able to adapt to a multitude of different applications. I am always ready to learn new skills or apply
                my current knowledge and expertise to new situations. I intend to follow a career in a computer related field.
			</p>

			<h2>Education &amp; Qualifications</h2>

            <h3>University of York <span>2013 - Current</span></h3>
            <table>
                <tr>
                    <th><b>First Year Results:</b></th>
                </tr>
                <tr>
                    <th>Mathematical Foundations of Computer Science</th>
                    <td>87%</td>
                </tr>
                <tr>
                    <th>Digital Architecture Circuits &amp; Systems</th>
                    <td>83%</td>
                </tr>
                <tr>
                    <th>Theory &amp; Practice of Programming</th>
                    <td>77%</td>
                </tr>
                <tr>
                    <th>Human Aspects of Computer Science</th>
                    <td>76%</td>
                </tr>
                <tr>
                    <th>Introduction to Computer Architectures</th>
                    <td>69%</td>
                </tr>
                <tr>
                    <th>Skills, Knowledge &amp; Independent Learning</th>
                    <td>67%</td>
                </tr>
                <tr>
                    <th>Numerical Analysis</th>
                    <td>54%</td>
                </tr>
                <tr>
                    <th>Overall</th>
                    <td>77%</td>
                </tr>
            </table>

            <h3>Liverpool Blue Coat School (Sixth Form) <span>2011 - 2013</span></h3>
            <table>
                <tr>
                    <th>A Level Mathematics</th>
                    <td>A</td>
                </tr>
                <tr>
                    <th>A Level Computing</th>
                    <td>A</td>
                </tr>
                <tr>
                    <th>A Level Physics</th>
                    <td>B</td>
                </tr>
                <tr>
                    <th>A Level General Studies</th>
                    <td>C</td>
                </tr>
                <tr>
                    <th>AS Level Music</th>
                    <td>C</td>
                </tr>
            </table>

			<h3>Broadgreen International School <span>2006 - 2011</span></h3>
			<table>
                <tr>
                    <th>GCSEs</th>
                    <td>1 A*, 7 A, 1 B, 1 C</td>
                </tr>
				<tr>
					<th>OCR Level 2 National First Award in ICT</th>
					<td>Distinction</td>
				</tr>
				<tr>
					<th>OCR Level 2 National Certificate Award in ICT</th>
					<td>Distinction</td>
				</tr>
				<tr>
					<th>NVQ Level 2 French for Business</th>
					<td>Merit</td>
				</tr>
			</table>

			<h3>Extra-curricular Courses</h3>
			<table>
                <tr>
                    <th>Chief Scout's Diamond Award</th>
                </tr>
				<tr>
					<th>ABRSM Grade 5 Music Theory</th>
				</tr>
				<tr>
					<th>ABRSM Grade 6 Classical Guitar</th>
				</tr>
				<tr>
					<th>
						Coursera - Computational Investing, Part I
						(<a href='https://www.coursera.org/course/compinvesting1'>Course Info</a>)
					</th>
				</tr>
				<tr>
					<th>
						Udacity - Artificial Intelligence for Robotics
						(<a href='https://www.udacity.com/course/cs373'>Course Info</a>)
					</th>
					<td>In Progress</td>
				</tr>
			</table>

			<h2>Experience</h2>

			<h3>ScraperWiki - Software Development <span>2013, 2014</span></h3>
			<p>
                I interned at ScraperWiki for six weeks in 2013 and ten weeks in 2014.
                I wrote web scraping tools using Python and Regular Expressions as well as their web frontends. I was also involved
                in work on the platform backend, writing streaming software in Go. ScraperWiki follows the principles of Agile Software
                Development and Extreme Programming, so I participated in pair programming, stand-up meetings and retrospectives.
			</p>
            <br>

			<h3>Aquarium Software - Technical Support <span>2012</span></h3>
			<p>
                I spent two weeks at Aquarium Software, where my role was to respond to support tickets from clients.
                I also spent some time with the developers of Aquarium, who gave me an introduction to the technologies behind
                the software and allowed me to write some code in C#.
			</p>
            <br>
			
			<h3>University of Liverpool - Research Assistant <span>2012</span></h3>
			<p>
                Spent two weeks working with a group researching the development of a rectification device capable of operating
                in the terahertz frequency range. I operated optical and electrical measurement apparatus,
                as well as conducting analysis of the data produced by these instruments.
			</p>
            <br>

			<h3>Taskers PLC - IT Support <span>2010</span></h3>
			<p>
                I completed a two week work experience placement at the head office of Taskers PLC. During these two weeks, I assisted with various IT-related tasks. 
                This included installing software, configuring new computers, setting up new pieces of hardware, updating device firmware and many other tasks.
			</p>
            <br>

            <h2>Skills &amp; Expertise</h2>
            <p>
                I am comfortable with the Python, Java, Ruby, JavaScript, Go and PHP languages. I use the OS X and
                Linux operating systems on a regular basis and also have experience with Windows systems. I can
                develop dynamic websites using HTML, CSS and JavaScript and jQuery and have good knowledge of the Django
                and Ruby on Rails web frameworks. I use Git for version control. Some examples
                of code I have written can be found on my <a href='http://www.github.com/sean-duffy'>GitHub</a> page.
            </p>
            <p>
                I have worked in a team using Agile software development and methods such as pair programming.
            </p>

            <h2>Hobbies and Interests</h2>

            <p>
                In my spare time I enjoy reading and playing the guitar and piano. I also have an interest in remote control vehicles, and have built my own quadcopter.
                On weekends I go walking with the University's Outdoor Society, and have recently taken up clay pigeon shooting with the Shooting Club.
            </p>

            <h2>Referees</h2>

            <p><b>Anna Bramwell-Dicks</b> <br>
            Dept. of Computer Science <br>
            Deramore Lane <br>
            University of York <br>
            Heslington <br>
            York YO10 5GH</p>

            <p>+44 (0)1904 325608<br>
            anna.bramwell-dicks@york.ac.uk</p>

		</section>
	</body>	
</html>
