<!DOCTYPE HTML>
<html>
	<head>
		<title>Curriculum Vitae - Sean Duffy</title>
		<link rel='stylesheet' href='{{ STATIC_URL }}cv.css' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<h1>Sean Duffy</h1>
			<p>07523 340034</p>
			<p>seanduffy@live.com</p>
			<p>seanduffy.co.uk</p>

        <div id='addresses'>
            <div id='address_left'>
                <p>8 Lingfield Road</p>
                <p>Broadgreen</p>
                <p>Liverpool</p>
                <p>L14 3LA</p>
            </div>

            <div id='address_right'>
                <p>Derwent College Reception</p>
                <p>University of York</p>
                <p>York</p>
                <p>YO10 5DD</p>
            </div>
        </div>
        
		</header>


		<section>

			<h2>Personal Profile</h2>
			<p>
                I am a 19 year old student studying Computer Systems and Software Engineering (MEng) at the University of York. 
                I have a keen interest in technology and enjoy learning about both software and hardware. I believe I am motivated, 
                determined and able to adapt to a multitude of different applications. I am always ready to learn new skills or apply
                my current knowledge and expertise to new situations. I intend to follow a career in a computer related field.
			</p>

			<h2>Education &amp; Qualifications</h2>

            <h3>University of York <span>2013 - Current</span></h3>
            <table>
                <tr>
                    <th>Human Aspects of Computer Science</th>
                    <td>76%</td>
                </tr>
            </table>

            <h3>Liverpool Blue Coat School (Sixth Form) <span>2011 - 2013</span></h3>
            <table>
                <tr>
                    <th>A Level Mathematics</th>
                    <td>A</td>
                </tr>
                <tr>
                    <th>A Level Computing</th>
                    <td>A</td>
                </tr>
                <tr>
                    <th>A Level Physics</th>
                    <td>B</td>
                </tr>
                <tr>
                    <th>A Level General Studies</th>
                    <td>C</td>
                </tr>
                <tr>
                    <th>AS Level Music</th>
                    <td>C</td>
                </tr>
            </table>

			<h3>Broadgreen International School <span>2006 - 2011</span></h3>
			<table>
                <tr>
                    <th>GCSEs</th>
                    <td>1 A*, 7 A, 1 B, 1 C</td>
                </tr>
				<tr>
					<th>OCR Level 2 National First Award in ICT</th>
					<td>Distinction</td>
				</tr>
				<tr>
					<th>OCR Level 2 National Certificate Award in ICT</th>
					<td>Distinction</td>
				</tr>
				<tr>
					<th>NVQ Level 2 French for Business</th>
					<td>Merit</td>
				</tr>
			</table>

			<h3>Extra-curricular Courses</h3>
			<table>
                <tr>
                    <th>Chief Scout's Diamond Award</th>
                </tr>
				<tr>
					<th>ABRSM Grade 5 Music Theory</th>
				</tr>
				<tr>
					<th>ABRSM Grade 6 Classical Guitar</th>
				</tr>
				<tr>
					<th>
						Coursera - Computational Investing, Part I
						(<a href='https://www.coursera.org/course/compinvesting1'>Course Info</a>)
					</th>
				</tr>
				<tr>
					<th>
						Udacity - Artificial Intelligence for Robotics
						(<a href='https://www.udacity.com/course/cs373'>Course Info</a>)
					</th>
					<td>In Progress</td>
				</tr>
			</table>

			<h2>Experience</h2>

			<h3>ScraperWiki - Software Development <span>2013</span></h3>
			<p>
                I had a six week summer internship at ScraperWiki. ScraperWiki is a data-science
                startup specialising in the extraction, cleaning and analysis of data, which they provide via their
                self-service online platform or as a managed service for professional organisations.
			</p>
			<p>
                During my internship I wrote web scraping tools for the online platform which used Python
                and Regular Expressions for the backend, and JavaScript, HTML and CSS for the frontend. I was also involved
                in work on the platform itself. ScraperWiki follows the principles of Agile Software Development and Extreme
                Programming, so I participated in pair programming, stand-up meetings and retrospectives.
			</p>
            <br>

			<h3>Aquarium Software - Technical Support <span>2012</span></h3>
			<p>
                I spent two weeks at Aquarium Software, a company which distributes a case and claims
                management software service. During the placement I had to quickly gain an understanding of
                the software and then use that knowledge to respond to support tickets from the clients of Aquarium. I also spent some time with the developers of Aquarium, who gave me an introduction to the technologies behind
                the software and allowed me to write some code in C#, a language which at the time was completely new to me.
			</p>
            <br>
			
			<h3>University of Liverpool - Research Assistant <span>2012</span></h3>
			<p>
                I participated in a work experience placement in the department of Electrical Engineering and Electronics at
                the University of Liverpool for a duration of two weeks. I was assigned to work with a group researching the development of a rectification device capable of operating in the terahertz frequency range. I operated optical and electrical measurement apparatus, as well as conducting analysis of the data produced by these instruments.
			</p>
            <br>

			<h3>Taskers PLC - IT Support <span>2010</span></h3>
			<p>
                I completed a two week work experience placement at the head office of Taskers PLC for two weeks in 2010. During
                these two weeks, I was able to experience work in an office environment, and apply my IT knowledge to solve problems
                and carry out tasks assigned to me. This included installing software, configuring new computers, setting up new pieces
                of hardware, updating device firmware and many other tasks.
			</p>

            <h2>Skills &amp; Expertise</h2>
            <p>
                I am comfortable with the Python, Java, Ruby, JavaScript and PHP languages. I use the OSX and Linux operating systems on a regular basis and also have experience with Windows systems. I can developing dynamic websites using HTML CSS and JavaScript and have good knowledge of the Django and Ruby on Rails web frameworks. I have experience using version control with Git. Some examples of code I have written can be found on my <a href='http://www.github.com/sean-duffy'>GitHub</a> page.
            </p>
            <p>
                I have worked in a team using Agile software development and methods such as pair programming.
            </p>
		</section>
	</body>	
</html>