<!DOCTYPE HTML>
<html>
	<head>
		<title>Sean Duffy / {{ post_title }}</title>
		<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='{{ STATIC_URL }}pictonic/css/pictonic.css'>
		<link href='{{ STATIC_URL }}style.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id='main_wrap'>
			{% include 'main/header.html' %}
				<div id ='post'>
					<a href='/blog/{{ post_url }}'><h1>{{ post_title }}</h1></a>
					<span>Posted on the {{ post_date }}.</span>
					{{ post_body|safe }}
				</div>
			{% include 'main/footer.html' %}
		</div>
	</body>
</html>