<!DOCTYPE HTML>
<html>
	<head>
		<title>Sean Duffy / About</title>
		<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='{{ STATIC_URL }}pictonic/css/pictonic.css'>
		<link href='{{ STATIC_URL }}style.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id='main_wrap'>
			{% include 'main/header.html' %}
			<div id='post'>
				<h2 id='noLink'>About</h2>
				<p>
					I'm <strong>Sean</strong>. I'm currently 18 and in my final year of school, and if all goes well I'll be studying 
					a degree in Computer Science next year.
				</p>
				<p>
					I'm interested in programming and web development and at the moment I'm working mostly in Python, Java and PHP. 
					You can see examples of some stuff I've made on the <a href='/projects/'>projects</a> page.
					Vintage computing is also fun - my collection presently consists of a Commodore 64, TI-99/4A, and BBC Micro and
					I intend to expand that.
				</p>
				<p>
					When I'm not programming I like to read, play classical guitar or piano, listen to music or build electronics projects.
					I've also recently started dabbling in multirotors. 
				</p>
				<p>
					You can also find me on <a href='http://www.facebook.com/seanduffy94'>Facebook</a>, 
					<a href='http://www.sean-duffy.tumblr.com'>Tumblr</a>, <a href='http://www.github.com/sean-duffy'>GitHub</a>, 
					<a href='http://soundcloud.com/sean-duffy'>SoundCloud</a> and 
					<a href='http://youtube.com/seanduffyproductions'>YouTube</a>. If you want to contact me, please feel free to
					<a href='mailto:seanduffy@hotmail.co.uk'>email me</a>.
				</p>
			</div>
			{% include 'main/footer.html' %}
		</div>
	</body>
</html>