<!DOCTYPE HTML>
<html>
	<head>
		<title>Sean Duffy / Home</title>
		<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='{{ STATIC_URL }}pictonic/css/pictonic.css'>
		<link href='{{ STATIC_URL }}style.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id='main_wrap'>
			{% include 'main/header.html' %}
			<div id='home_content'>
				<p>Hi, I'm Sean.</p>
				<p>I'm a sixth-form student from Liverpool, hoping to study Computer Science at university next year.</p>
			</div>
			{% include 'main/footer.html' %}
		</div>
	</body>
</html>